body{
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}
.adjust-size{
    height: 275px;
    width: 200px;
    border-radius: 10%;
    margin-top: 20px;
    
}
.mt20{
    margin-top: 45px
}
.left-side-color{
   background-color: lightblue;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
}
.right-side-color{
    background-color: darksalmon;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*margin-left: 250px;*/
}
.ttext{
    font-size: 18px;
}
.bold{
    font-weight: bold;
}

