body{
    text-align: center;
}
h1{
   text-size: 120px;
   color: white;
   background-color: navy;
   border: 2px solid green;
}
footer{
    background-color: navy;
    color: white;
}
img{
    text-align: right;
    height: 200px;
    width: 200px;
}